.container{
    background-color: #ecf0f1;
    width: 95%;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    justify-self: center;
}
.welcome{
    text-align: center;
    margin-top: 20px;
    padding: 50px;
    padding-left: 400px;
    padding-top: 50px;
    margin-right: 500px;
    border-radius: 5px;
}